# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
.venv/

# Virtual environments
venv/
ENV/
env/

# Environment variables
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# OS specific files
.DS_Store
Thumbs.db
